@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@600&family=Kanit:wght@600&family=Lobster&family=Permanent+Marker&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html {
    background-color: #d289d6;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

body {
    background-color: #fedcff;
    margin: 0;
}

/* TESTING FOR BACKGROUND RESIZING ON MOBILE*/
.wrapper {
    position: absolute;
    top: 0.5px;
    left: 0;
    right: 0;
    bottom: 0.5px;
    overflow-x: hidden; /* or any other value */
    /* or any other value */
}


nav {
    background-color: #d289d6;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
}
.navdiv {
    position: sticky; 
    top: 0;
    z-index:99999;
    width:100%;
    justify-content: end;
}
/* .navbar {
    position: fixed;
    top: 0;
    width: 100%;
} */
.nav-link {
    background-color:rgba(139, 32, 122, 0.2);
    text-align: right;
}

a.nav-link {
    padding: 15px;
}



#navul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 5%;
    right: 2%;
}

@media (min-width: 800px) {
    #navul {
        top: 2%;
        right: 70%;
    }
}
.nav-item {
    margin-right: 10%;
    border-right: 1px solid rgba(139, 32, 122, 0.4);
    border-left: 1px solid rgba(139, 32, 122, 0.4);
}


@media (min-width: 800px) {
    .navbar {
        font-size: 40px;
        padding-left: 200px;
    }
    .nav-item {
        height: 100%;
    } 
} 
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.navbar-toggler {
    height: 75px;
    width: 75px;
}

.navbar-brand {
    background: none!important;
}
#logo {
    height: auto;
    width: 100px;
    filter: drop-shadow(15px 15px 4px rgb(209, 150, 211, .6));

}

#main h5 {
    margin-left: 5%;
    margin-right: 5%;
}

@media (min-width: 600px) {
    #main h5 {
        margin-left: 33%;
    }
}

#nametitle {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Lobster', cursive;
    padding: 0;
    margin: 0;
    /* background-color: rgb(128, 0, 128, 0.8) */
}

#nametitle p {
    font-size: 24px;
    text-decoration: underline wavy;
}



#main {
    background-image: url("images/foodcropped.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 1000px;
    background-attachment: fixed;
    color: white;
}
@media (min-width: 960px) {
    #main {
        background-size: 100% auto;
    }
    #nametitle {
        transform: scale(2.0);
        padding-bottom: 5%;
        margin-top: -10%;
    }
    #main h6 {
        transform: scale(2.0);
        padding-bottom: 2%;
        padding-left: 2%;
    }
    
}


#main h1 {
    padding-top: 10%;
    font-size: 95px;
    text-align: center;
}
#main h6 {
    text-align: center;
    font-size: 20px;
    /* background-color: #e1a1e4; */
    font-family: 'DynaPuff', cursive;
}

#construction {
    text-align: center;
}

#welcome {
    background-color:rgba(81, 225, 235, 0.50);
    text-align: left;
    padding: 2% 2%;
    border-radius: 15px;
}

@media (min-width: 700px) {
    #welcome {
        
    margin: 8% 20%;
    }
    #welcome p {
        font-size: 35px;
    }
}
  #spacer {height: 150px;}

#welcome p {
    margin-top: 3%;
    font-size: 20px;
    width: 100%;
}

#contactnow {
    position: fixed;
    bottom: -6px;
    right: -3px;
    z-index: 999;
    border-radius: 8px;
    border: none;
    border-color:rgb(109, 61, 101);
    background-color: #b476b8;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    color: black;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color: white;
}
@media (min-width: 600px) {#contactnow {font-size:35px}}

#contact-submit {
    margin-left: 75%;
}
#menu {
    width: 90%;
    height: auto;
    margin: 5%;
    box-shadow: 5px 10px 8px rgb(122, 122, 122, 0.5);
}
@media (min-width: 700px) {
    #menu {
        height: 90%;
        width: auto;
        margin: auto 0 5% 33%;

    }
}









.modal {
    text-align: center;
    padding: 0!important;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
.modal-body {
    background-color: rgb(255, 137, 235);
}


.fa-1x {
    font-size: 1.5rem;
  }



#latesttitle {
    padding-top: 20%;
}
@media (min-width: 960px) {
    #latesttitle {
        padding-top: 0;
    }
    #latest {
        overflow: hidden;
        height: auto;
        width: 100%;
        background-color:#d196d3;
        display: flex;
        flex-direction: row;
    }
    #latest img {
        height: 500px;
        width: 500px;
    }
}

#latestimg {
    width: 100%; 
    height: auto;
    padding: 5px;
    border: 8px solid #d289d6;
    background-color: #d196d3;
    filter: drop-shadow(0 8px 4px rgb(109, 61, 101));

}

#footer a {
    text-decoration: none;
    color: white;
}
#footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 2%;
    border: 2px solid #59385a;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    background-color: #d289d6;
}


/* MODAL CSS HERE */
/* Style inputs with type="text", select elements and textareas */
/* input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  } */

  #close {
    background: none;
    border: none;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
 
  #contact {
      background:#F9F9F9;
      padding:25px;
      margin: 0;
  }
   
  #contact h3 {
      color: rgb(36, 230, 220);
      display: block;
      font-size: 30px;
      font-weight: 700;
  }
   
  #contact h4 {
      margin:5px 0 15px;
      display:block;
      color: black;
      font-size:13px;
  }
   
  fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
  }
   
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
      width:100%;
      border:1px solid #CCC;
      background:#FFF;
      margin:0 0 5px;
      padding:10px;
  }
   
  #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
      -webkit-transition:border-color 0.3s ease-in-out;
      -moz-transition:border-color 0.3s ease-in-out;
      transition:border-color 0.3s ease-in-out;
      border:1px solid #AAA;
  }
   
  #contact textarea {
      height:100px;
      max-width:100%;
    resize:none;
  }
   
  #contact button[type="submit"] {
      cursor:pointer;
      width: 100%;
      border:none;
      background:rgb(3, 153, 212);
      color:#FFF;
      margin:0 0 5px;
      padding:10px;
      font-size:15px;
  }
   
  #contact button[type="submit"]:hover {
      background:#09C;
      -webkit-transition:background 0.3s ease-in-out;
      -moz-transition:background 0.3s ease-in-out;
      transition:background-color 0.3s ease-in-out;
  }
   
  #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
   
  #contact input:focus, #contact textarea:focus {
      outline:0;
      border:1px solid #999;
  }
  ::-webkit-input-placeholder {
   color:#888;
  }
  :-moz-placeholder {
   color:#888;
  }
  ::-moz-placeholder {
   color:#888;
  }
  :-ms-input-placeholder {
   color:#888;
  }
   
  .success{
      color: green;
      font-weight: 700;
      padding: 5px;
      text-align: center;
  }
  .failed{
      color: red;
      font-weight: 700;
      padding: 5px;
      text-align: center;
  }

  

a {
    text-decoration: none!important;
}


.link {
    text-decoration: none; 
    color: white; 
    font-weight: bold;
  }

.smlink {
    text-align: center;
}

/* .item {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
} */

#flexattempt {
    margin-top: -20%; 
}





/*PAGES ALIGNMENT*/

#nametitle {
    padding-top: 40%;
}

#latestlink {
    padding-top: 80%;
    
}

#contactlink {
    padding-top: 60%;
}

#menulink {
    margin-top: 100%;
}

@media (min-width: 800px) {
    #nametitle {
        padding-top: 0;
    }
    #latestlink {
        padding-top: 35%;
    }
    #contactlink {
        padding-top: 10%;
    }
    #menulink {
        padding-top: 0;
    }
}


.active {
    background-color:rgba(89, 56, 90, 0.61);
}